.navbar{
    border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: white;
}

.nav-link{
    text-decoration: none;
    color : black;
}

.nav-link:hover{
    background-color: rgb(238, 238, 238);
}